@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 48.8%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {
  display: flex;
  flex-direction: column;
}

.header-top {
  padding: 15px 0 0;   
  margin-bottom: 59px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

address {
  max-width: 110px;
  padding-left: 3%;
  color: #9AA1B1;
  font-size: 9.5px;
}

.social { padding-right: 1.4%; }

.social a {
  margin: 6px 7.5px 0 0;
  color: #000;
  font-size: 12.5px;
  text-indent: -9999px;
}

.social a:hover { 
  color: #BD9C60; 
  transition: .3s ease-in-out; 
}

.social li:first-child a::before {
  content: "\f09a";
  float: right;
  font-family: fontAwesome;
  text-indent: 0;
}

.social li:nth-child(2) a::before {
  content: "\f099";
  float: right;
  font-family: fontAwesome;
  text-indent: 0;
}

.social li:nth-child(3) a::before {
  content: "\f180";
  float: right;
  font-family: fontAwesome;
  text-indent: 0;
}

.social li:nth-child(4) a::before {
  content: "\f16d";
  float: right;
  font-family: fontAwesome;
  text-indent: 0;
}

h1 { 
  display: block;
  text-indent: -9999px; 
}

h1 a {
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 37px;
  float: left;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

h1 img { 
  width: auto; 
  margin-right: 20px;
}

nav { padding: 10px 0; }

nav ul {
  padding: 0 3.8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  text-transform: capitalize;
}

nav a { color: #B0B4CC; }

nav a:hover, nav .active { 
  color: #BD9C60; 
  transition: .3s ease-in-out;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner { margin-bottom: 30px; }

.banner img { height: 450px; }

.articles {
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
}

.articles-left, .articles-right { flex-basis: 47.8%; }

.articles-left {
  padding-top: 68px;
}

.articles figure { margin-bottom: 30px; }

.article { padding-top: 10px; }

.article span {
  color: #757170;
  font-size: 9px;
  word-spacing: 2px;
  text-transform: uppercase;
}

.article h2 {
  max-width: 160px;
  margin-bottom: 10px;
  color: #D1AB63;
  font-size: 23px;
  font-style: italic;
}

.article2 h2 { max-width: 195px; }

.article h2::first-letter { text-transform: capitalize; }

.article p {
  max-width: 195px;
  margin-bottom: 18px;
  color: #B4B3B0;
  font-size: 11px;
}

.article2 p { margin-bottom: 8px; }

.articles a {
  margin-bottom: 70px;
  color: #6D6D6D;
  font-size: 10px;
  text-transform: capitalize;
}

.articles a:hover {
  color: #D1AB63;
  transition: .3s ease-in-out;
}

.articles a::after {
  content: "\f105";
  margin-left: 5px;
  font-family: fontAwesome;
}

.article1 a { margin-bottom: 17px; }

.order_online { 
  margin-bottom: 41px;
  position: relative; 
}

.order_online figure { padding: 0 2px; }

.order_online a {
  padding: 32px 77px;
  position: absolute;
  top: 158px;
  left: 29.5%;
  background-color: #fff;
  color: #6D6A6D;
  text-align: center;
}

.order_online a:hover { 
  background-color: #BD9C60;
  color: #fff;
  transition: .3s ease-in-out;
}

.order_online a span {
  display: block;
}

.green {
  margin-bottom: 10px;
  font-size: 9px;
  text-transform: uppercase;
}

.online { 
  font-size: 12px;
  text-transform: capitalize; 
}

.go_green {
  margin-bottom: 8px;
  display: block;
  color: #6D6A6D;
  font-size: 9px;
  letter-spacing: 1px;
  text-align: center;
}

.go_green:hover {
  color: #BD9C60;
  transition: .3s ease-in-out;
}

.quote {
  max-width: 388px;
  margin-bottom: 225px;
  color: #BD9C60;
  font-size: 23px;
  font-style: italic;
  text-align: center;
}

.book {
  width: 37%;
  margin-bottom: 130px;
  display: flex;
  justify-content: space-between;
}

.book select {
  flex-basis: 21.5%;
  border-style: none;
  background-color: transparent;
  color: #605F5F;
  font-size: 11px;
  text-transform: capitalize;
  outline-style: none;
}

.book a {
  padding: 7px;
  flex-basis: 21%;
  background-color: #BC9B5D;
  color: #fff;
  font-size: 13px;
  text-align: center;
  text-transform: capitalize;
}

.book a:hover {
  background-color: #fff;
  color: #BC9B5D;
  transition: .3s ease-in-out;
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer { 
  padding: 30px 0 45px;
  background-color: #BC9B5D; 
  color: #fff;
}

footer .wrapper {
  width: 49.5%;
  display: flex;
  justify-content: space-between;
}

.form { flex-basis: 35%; }
.footer_right { flex-basis: 32.5%; }

footer p, footer span { 
  margin-bottom: 5px;
  display: block;
  font-size: 9px; 
}

footer span::first-letter { text-transform: capitalize; }

footer a { color: #fff; }

footer a:hover {
  color: #000;
  transition: .3s ease-in-out;
}

.email { margin-bottom: 10px; }

.email input {
  width: 100%;
  padding: 7px 14px;
  border-top: 1px solid #4F4E4D;
  border-bottom: 1px solid #4F4E4D;
  border-left: 1px solid #4F4E4D;
  font-size: 10px;
}

.form button {
  width: 113%;
  padding: 7px 0;
  border-style: none;
  background-color: #fff;
  color: #565656;
  font-size: 10px;
  text-transform: capitalize;
}

.form button:hover {
  background-color: #000;
  color: #fff;
}

.footer_social a {
  margin: 6px 7.5px 0 0;
  font-size: 12.5px;
  text-indent: -9999px;
}

.footer_social li:first-child a::before {
  content: "\f09a";
  float: right;
  font-family: fontAwesome;
  text-indent: 0;
}

.footer_social li:nth-child(2) a::before {
  content: "\f099";
  float: right;
  font-family: fontAwesome;
  text-indent: 0;
}

.footer_social li:nth-child(3) a::before {
  content: "\f180";
  float: right;
  font-family: fontAwesome;
  text-indent: 0;
}

.footer_social li:nth-child(4) a::before {
  content: "\f16d";
  float: right;
  font-family: fontAwesome;
  text-indent: 0;
}


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  